.hero-img img{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../../public/images/bg-intro-desktop.svg);
    border: none;


}
.main-btn{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}